<p id="notice"><%= notice %></p>

<h2 class="heading"><%= @search_desc %></h2>

<div class="container">
  
  <%= paginate(@products) %>
  
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3" id="product-tile">
        <p><%= link_to product.name, product %></p>
        <p><%= image_tag product.image, height: "160" %></p>
        <p>Qty Available: <%= number_with_delimiter(product.quantity) %></p>
        <p>Sale Price: <%= number_to_currency(product.price) %></p>
        <p><strike>List Price: <%= number_to_currency(product.list_price) %></strike></p>
        <p>Postage: <%= number_to_currency(product.postage) %></p>
        <p>Category: <%= product.category.name %></p>
      </div>
    <% end %>
  </div>
  
  <%= paginate(@products) %>
  
</div>
