<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Sale Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>List price:</strong>
  <%= number_to_currency(@product.list_price) %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image, width: "260" %>
</p>

<p>
  <strong>Available:</strong>
  <%= @product.available %>
</p>

<p>
  <strong>Quantity Available:</strong>
  <%= number_with_delimiter(@product.quantity) %>
</p>

<p>
  <strong>Postage Cost:</strong>
  <%= @product.postage %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<br>
<%= button_to 'Add to Cart', addtocart_path(id: @product), method: :post, class: "btn btn-warning"  %>
<br>

<!-- <%= link_to 'Edit', edit_product_path(@product) %> -->


<%= link_to 'Back', products_path %>
