<!DOCTYPE html>
<html>
<head>
  <title>Mycartify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= link_to 'Home', '/'%> |

    <% if @current_buyer.present? %>
       <%= link_to "Edit my profile", edit_buyer_path(@current_buyer) %> |
       <%= link_to "Show My Cart", carts_path %> |
       <%= link_to "Logout " + @current_buyer.name, login_path, :method => 'delete', :data => { :confirm => 'Are you sure you wish to logout?' } %>
    <% else %>
       <%= link_to 'Create Account', new_buyer_path %> |
       <%= link_to 'Login', login_path %> 
    <% end %>
      
<%= yield %>

</body>
</html>
